
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="jumbotron MIndex">
    Descriptions about Applications
</div>
<div class="container">
    <div class=" MButton" >
        <div class="btn btn-success btnMain">
            @Html.ActionLink("Log In Now", "Login", "Main")
        </div>
        <div class="btn btn-success btnMain">
            @Html.ActionLink("Register Now", "Create", "Users")
        </div>
    </div>
</div>

