@model SDQWeb.Models.Home
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h3>Hey!! @Session["fname"] @Session["lname"]  Good Day</h3>
    <img src="~/Image/home.jpg" alt="Campus"/>
    <div style="margin-top:33px">
        <p>Update your Profile Picture <a href="~/Users/UploadProfile/@Session["id"]" class="btn btn-success">Upload Picture</a></p>
        <p>Update your Address <a href="~/Addresses/Create/@Session["id"]" class="btn btn-success">Address</a></p>
        <p>Start Your Carrier As  <a href="~/UserInstitutes/Create" class="btn btn-success">Student</a> 
        Or Also Can Start As <a href="~/UserInstitutes/Create" class="btn btn-success" >Teacher</a>
        </p>
    </div>
</div>